.panel {
  width: 500px;
  margin: 20px auto;
}
.panel .panel-heading .panel-title {
  margin-bottom: 10px;
}
.panel .panel-heading .panel-title .count {
  color: #ff0000;
  font-weight: bold;
}
.panel .panel-heading .form-control {
  outline: none;
}
.panel .panel-body .list-group .list-group-item {
  position: relative;
}
.panel .panel-body .list-group .list-group-item input[type=checkbox] {
  vertical-align: top;
}
.panel .panel-body .list-group .list-group-item span {
  margin-left: 10px;
  vertical-align: top;
}
.panel .panel-body .list-group .list-group-item span.complete {
  text-decoration: line-through;
}
.panel .panel-body .list-group .list-group-item a {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}
.panel .panel-body .list-group .list-group-item:hover a {
  display: block;
}
